# ROMS-JEDI 3DEnVar 4D-FGAT (Dual Formulation) Test: __ROMS_APPLICATION__
#
# It uses ROMS 4D state vector and the 4D-Var cost function for a
# 4D-FGAT (First Guess at Appropriate Time) by approximating the
# Tangent Linear and Adjoint models with the Identity operator.
# It computes the analysis increment for the initial state vector
# (beginning of the DA window).
#
# Using RPCG (Augmented Restricted Preconditioned Conjugate Gradient)
# Minimizer, Gratton and Tshimanga, QJRMS, 135: 1573-1585 (2009).

forecast length: &ForecastLength __FORECAST_LENGTH__

model timestep:  &TimeStep __ROMS_TIMESTEP__

initial date: &date __INITIAL_DATE__

roms analysis: &roms_analysis
- sea_surface_height_above_geoid
- eastward_sea_water_velocity                    # A-grid
- northward_sea_water_velocity                   # A-grid
- sea_water_temperature
- sea_water_salinity

roms state: &roms_state
- sea_surface_height_above_geoid
- eastward_sea_water_velocity                    # A-grid
- northward_sea_water_velocity                   # A-grid
- sea_water_x_velocity                           # C-grid
- sea_water_y_velocity                           # C-grid
- sea_water_temperature
- sea_water_salinity
- model_level_depth_at_cell_center
- vertical_diffusion_coefficient_of_temperature_in_sea_water
- vertical_diffusion_coefficient_of_salinity_in_sea_water
- vertical_viscosity_coefficient_of_sea_water

cost function:
  cost type: 4D-Var
  time window:
    begin: *date
    length: *ForecastLength
  analysis variables: *roms_analysis

  geometry: &geom
    project_dir: __PROJECT_DIR__
    roms_stdinp: __ROMS_STDINP__
    fields metadata: Data/fields_metadata.yaml
    ng: 1                                        # ROMS nested grid number

  model:
    name: NLROMS
    model variables: *roms_state
    simulation length: *ForecastLength
    tstep: *TimeStep

  background:
    fields_dir: __FIELDS_DIR__
    fields_filename: __ROMS_INI_PRIOR__
    fields_record: __INI_PRIOR_RECORD__
    state variables: *roms_state
    date: *date

  background error:
    covariance model: ensemble
    localization:
      localization method: SABER
      saber central block:
        saber block name: BUMP_NICAS
        active variables: *roms_analysis
        fields metadata:
          sea_surface_height_above_geoid:
            vert_coord: vert_coord_2d
        read:
          drivers:
            multivariate strategy: duplicated
            read global nicas: false
            read local nicas: true
          model:
            do not cross mask boundaries: true
          nicas:
            interpolation in global file: false
          io:
            data directory: Data/bump_loc
            files prefix: __ROMS_APP___bump_loc
    members from template:
      template:
        date: *date
        fields_dir: Data/ensembles
        fields_filename: __ROMS_APP___roms_ensemble_mem%mem%___INI_DATETIME__.nc
        fields_record: __INI_PRIOR_RECORD__
        state variables: *roms_state
      pattern: %mem%
      nmembers: __NMEMBERS__
      zero padding: 3

  observations:
    obs perturbations: false                     # default
    observers:

    __OBSERVATION_DATA__

variational:
  minimizer:
    algorithm: RPCG                              # Dual Formulation
  iterations:                                    # each item defines an outer loop
  - geometry: *geom
    linear model:
      name: Identity                             # Identity TLM/ADM
      increment variables: *roms_analysis
      tstep: *TimeStep
      variable change: Identity
    ninner: __NINNER__
    gradient norm reduction: 1E-10
    test: on
    diagnostics:                                 # Written into output IODA files
      departures: ombg                           # OBS - H(Xb)
    online diagnostics:
      write increment: true
      increment:                                 # DA increment output file
        state component:
          add_varchange: true                    # Add fields from variable change
          single_record: true
          data_dir: Data/3denvar/4dfgat/dual
          prefix: __ROMS_APP___roms
          exp: 3denvar
          type: inc
          date: *date

final:                                           # Written into output IODA files
  diagnostics:
    departures: oman                             # saving OBS - H(Xa) in output file

output:                                          # Forecast from Analysis
  file_policy: __OUTPUT_FILE_POLICY__
  frequency: &frequency __OUTPUT_FREQUENCY__
  data_frequency: *frequency
  data_dir: Data/3denvar/4dfgat/dual
  prefix: __ROMS_APP___roms
  exp: 3denvar
  type: nlm
  date: *date

test:
  reference filename: testref/3denvar_4dfgat_dual.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/3denvar_4dfgat_dual.log
  test output filename: testoutput/3denvar_4dfgat_dual.out
