# ROMS-JEDI Regular 3D-Var (Primal Formulation) Test: __ROMS_APPLICATION__
#
# It uses ROMS 3D state vector and the 3D-Var cost function. It computes 
# the analysis increment for the initial state vector (beginning of the
# DA window). The observation time coordinate was calibrated to be at
# the center of the 3D-Var DA window (2004-01-05T00:00:00Z).
#
# Using DRPLanczos (Derber-Rosati Preconditioned Lanczos).


forecast length: &ForecastLength __FORECAST_LENGTH__

model timestep:  &TimeStep __ROMS_TIMESTEP__

initial date: &date __INITIAL_DATE__
middle date:  &mid_date __MIDDLE_DATE__

roms analysis:  &roms_analysis [ssh, uocn, vocn, tocn, socn]
roms state:     &roms_state    [ssh, uocn, vocn, tocn, socn, zocn_r]

cost function:
  cost type: 3D-Var
  time window:
    begin: *date
    length: *ForecastLength
  analysis variables: *roms_analysis 

  geometry: &geom
    project_dir: __PROJECT_DIR__
    roms_stdinp: __ROMS_STDINP__
    fields metadata: Data/fields_metadata.yaml
    ng: 1                                        # ROMS nested grid number

  model:
    name: ROMS
    model variables: *roms_state
    simulation length: *ForecastLength
    tstep: *TimeStep

  background:
    fields_dir: __FIELDS_DIR__
    fields_filename: __ROMS_MID_PRIOR__
    fields_record: __INI_PRIOR_RECORD__
    state variables: *roms_state
    date: *mid_date                              # middle DA window

  background error:
    covariance model: SABER
    saber central block:
      saber block name: BUMP_NICAS
      read:
        drivers:
          multivariate strategy: univariate
          read local nicas: true
        io:
          data directory: Data/bump
          files prefix: __ROMS_APP___bump_cor
        grids:
        - model:
            variables:
            - ssh
        - model:
            variables:
            - tocn
            - socn
    saber outer blocks:
    - saber block name: StdDev
      read:
        model file:
          fields_dir: __FIELDS_DIR__
          fields_filename: __ROMS_PRIOR_STD__
          fields_record: 1
          state variables: *roms_analysis
          date: *mid_date

  observations:
    obs perturbations: false                     # default
    observers:

    - obs space:
        name: InsituTemperature
        obsdatain:
          engine:
            type: H5File
            obsfile: __TEMPERATURE_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/regular/primal/__ROMS_APP___temp_3dvar_regular.nc4
        simulated variables: [waterTemperature]
      obs operator:
        name: VertInterp
        vertical coordinate: model_level_depth_at_cell_center
        observation vertical coordinate: depth
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal

    - obs space:
        name: InsituSalinity
        obsdatain:
          engine:
            type: H5File
            obsfile: __SALINITY_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/regular/primal/__ROMS_APP___salt_3dvar_regular.nc4
        simulated variables: [salinity]
      obs operator:
        name: VertInterp
        vertical coordinate: model_level_depth_at_cell_center
        observation vertical coordinate: depth
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal

    - obs space:
        name: SST
        obsdatain:
          engine:
            type: H5File
            obsfile: __SST_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/regular/primal/__ROMS_APP___sst_3dvar_regular.nc4
        simulated variables: [seaSurfaceTemperature]
      obs operator:
        name: Identity
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal

    - obs space:
        name: ADT
        obsdatain:
          engine:
            type: H5File
            obsfile: __ADT_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/regular/primal/__ROMS_APP___adt_3dvar_regular.nc4
        simulated variables: [absoluteDynamicTopography]
      obs operator:
        name: ADT
      obs error:
        covariance model: diagonal

variational:
  minimizer:
    algorithm: DRPLanczos                        # Primal Formulation
    online diagnostics:
      max eigenvectors: 5
      eigenvector:
        state component:
          single_record: true
          data_dir: Data/3dvar/regular/primal
          prefix: __ROMS_APP___roms
          exp: 3dvar_eigenvecs
          type: krylov
          date: *mid_date
  iterations:                                    # each item defines an outer loop
  - geometry: *geom
    ninner: __NINNER__
    gradient norm reduction: 1E-10
    test: on
    diagnostics:                                 # Written into output IODA files
      departures: ombg                           # OBS - H(Xb)
    online diagnostics:
      write increment: true
      increment:                                 # DA increment output file
        state component:
          single_record: true
          data_dir: Data/3dvar/regular/primal
          prefix: __ROMS_APP___roms
          exp: 3dvar
          type: inc
          date: *mid_date

final:                                           # Written into output IODA files
  diagnostics:
    departures: oman                             # saving OBS - H(Xa) in output file

output:
  file_policy: __OUTPUT_FILE_POLICY__
  frequency: &frequency __OUTPUT_FREQUENCY__
  data_frequency: *frequency
  data_dir: Data/3dvar/regular/primal
  prefix: __ROMS_APP___roms
  exp: 3dvar
  type: nlm
  date: *mid_date

test:
  reference filename: testref/3dvar_regular_primal.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/3dvar_regular_primal.log
  test output filename: testoutput/3dvar_regular_primal.out
