# ROMS-JEDI 3D-Var Single Observation Test: __ROMS_APPLICATION__
#
# It uses ROMS 3D state vector and the 3D-Var cost function. It computes
# the analysis increment for the initial state vector (beginning of the
# DA window).
#
# A single observation (SST and/or ADT) is used. The obervation time
# coordinate is at the center of the 3D-Var DA window (2004-01-05T00:00:00Z).
#
# It does't use any Linear Model: Identity or TLM/ADM


forecast length: &ForecastLength __FORECAST_LENGTH__

model timestep:  &TimeStep __ROMS_TIMESTEP__

initial date: &date __INITIAL_DATE__
middle date:  &mid_date __MIDDLE_DATE__

roms analysis: &roms_analysis
- sea_surface_height_above_geoid
- eastward_sea_water_velocity                    # A-grid
- northward_sea_water_velocity                   # A-grid
- sea_water_x_velocity                           # C-grid
- sea_water_y_velocity                           # C-grid
- sea_water_temperature
- sea_water_salinity

roms state: &roms_state
- sea_surface_height_above_geoid
- eastward_sea_water_velocity                    # A-grid
- northward_sea_water_velocity                   # A-grid
- sea_water_x_velocity                           # C-grid
- sea_water_y_velocity                           # C-grid
- sea_water_temperature
- sea_water_salinity
- model_level_depth_at_cell_center
- vertical_diffusion_coefficient_of_temperature_in_sea_water
- vertical_diffusion_coefficient_of_salinity_in_sea_water
- vertical_viscosity_coefficient_of_sea_water

cost function:
  cost type: 3D-Var
  time window:
    begin: *date
    length: *ForecastLength
  analysis variables: *roms_analysis

  geometry: &geom
    project_dir: __PROJECT_DIR__
    roms_stdinp: __ROMS_STDINP__
    fields metadata: Data/fields_metadata.yaml
    ng: 1                                        # ROMS nested grid number

  model:
    name: NLROMS
    model variables: *roms_state
    simulation length: *ForecastLength
    tstep: *TimeStep

  background:
    fields_dir: __FIELDS_DIR__
    fields_filename: __ROMS_MID_PRIOR__
    fields_record: __INI_PRIOR_RECORD__
    state variables: *roms_state
    date: *mid_date                              # middle DA window

  background error:
    covariance model: SABER
    saber central block:
      saber block name: BUMP_NICAS
      active variables: *roms_analysis
      fields metadata:
        sea_surface_height_above_geoid:
          vert_coord: vert_coord_2d
      read:
        drivers:
          multivariate strategy: univariate
          read global nicas: false
          read local nicas: true
        model:
          level for 2d variables: last
          do not cross mask boundaries: true
        nicas:
          interpolation in global file: false
        io:
          data directory: Data/bump
          files prefix: __ROMS_APP___bump_cor
        grids:
        - model:
            variables:
            - sea_surface_height_above_geoid
        grids:
        - model:
            variables:
            - eastward_sea_water_velocity
            - northward_sea_water_velocity
            - sea_water_temperature
            - sea_water_salinity

    saber outer blocks:
    - saber block name: StdDev
      read:
        model file:
          fields_dir: __FIELDS_DIR__
          fields_filename: __ROMS_PRIOR_STD__
          fields_record: 1
          state variables: *roms_analysis
          date: *mid_date

  observations:
    obs perturbations: false                     # default
    observers:

    __SINGLE_OBSERVATION_DATA__

variational:
  minimizer:
#   algorithm: RPCG
    algorithm: PLanczos
  iterations:                                    # each item defines an outer loop
  - geometry: *geom
    ninner: 1
    gradient norm reduction: 1E-10
    test: on
    diagnostics:                                 # Written into output IODA files
      departures: ombg                           # OBS - H(Xb)
    online diagnostics:
      write increment: true
      increment:                                 # DA increment output file
        state component:
          add_varchange: true                    # Add fields from variable change
          single_record: true
          data_dir: Data/3dvar/singleObs
          prefix: __ROMS_APP___roms
          exp: 3dvar
          type: inc
          date: *mid_date

final:                                           # Written into output IODA files
  diagnostics:
    departures: oman                             # saving OBS - H(Xa) in output file

output:                                          # Analysis (first guess plus increment)
  single_record: true
  data_dir: Data/3dvar/singleObs
  prefix: __ROMS_APP___roms
  exp: 3dvar
  type: ana
  date: *mid_date

test:
  reference filename: testref/3dvar_singleObs.ref
  float relative tolerance: 1.0
  log output filename: testoutput/3dvar_singleObs.log
  test output filename: testoutput/3dvar_singleObs.out
