# ROMS-JEDI 4D-FGAT (Primal Formulation) Test: __ROMS_APPLICATION__
#
# It uses ROMS 4D state vector and the 4D-Var cost function for a
# 4D-FGAT (First Guess at Appropriate Time) by approximating the
# Tangent Linear and Adjoint models with the Identity operator.
# It computes the analysis increment for the initial state vector
# (beginning of the DA window).
#
# Using DRPLanczos (Derber-Rosati Preconditioned Lanczos).

forecast length: &ForecastLength __FORECAST_LENGTH__

model timestep:  &TimeStep __ROMS_TIMESTEP__

initial date: &date __INITIAL_DATE__

roms analysis:  &roms_analysis [ssh, uocn, vocn, tocn, socn]
roms state:     &roms_state    [ssh, uocn, vocn, tocn, socn, zocn_r]

cost function:
  cost type: 4D-Var
  window begin: *date
  window length: *ForecastLength
  analysis variables: *roms_analysis 

  geometry: &geom
    project_dir: __PROJECT_DIR__
    roms_stdinp: __ROMS_STDINP__
    fields metadata: Data/fields_metadata.yaml
    ng: 1                                        # ROMS nested grid number

  model:
    name: ROMS
    model variables: *roms_state
    simulation length: *ForecastLength
    tstep: *TimeStep

  background:
    fields_dir: __FIELDS_DIR__
    fields_filename: __ROMS_INI_PRIOR__
    fields_record: __INI_PRIOR_RECORD__
    date: *date 
    state variables: *roms_state

  background error:
    covariance model: SABER
    saber central block:
      saber block name: BUMP_NICAS
      read:
        drivers:
          multivariate strategy: univariate
          read local nicas: true
        io:
          data directory: Data/bump
          files prefix: __ROMS_APP___bump_cor
        grids:
        - model:
            variables:
            - ssh
        - model:
            variables:
            - tocn
            - socn
    saber outer blocks:
    - saber block name: StdDev
      read:
        model file:
          fields_dir: __FIELDS_DIR__
          fields_filename: __ROMS_PRIOR_STD__
          fields_record: 1
          state variables: *roms_analysis
          date: *date 

  observations:
    obs perturbations: false                     # default
    observers:

#   - obs space:
#       name: InsituTemperature
#       obsdatain:
#         engine:
#           type: H5File
#           obsfile: __TEMPERATURE_OBS__
#       obsdataout:
#         engine:
#           type: H5File
#           obsfile: Data/3dvar/4dfgat/primal/__ROMS_APP___temp_4dfgat.nc4
#       simulated variables: [waterTemperature]
#     obs operator:
#       name: VertInterp
#       vertical coordinate: model_level_depth_at_cell_center
#       observation vertical coordinate: depth
#       observation alias file: testinput/obsop_name_map.yaml
#     obs error:
#       covariance model: diagonal
 
#   - obs space:
#       name: InsituSalinity
#       obsdatain:
#         engine:
#           type: H5File
#           obsfile: __SALINITY_OBS__
#       obsdataout:
#         engine:
#           type: H5File
#           obsfile: Data/3dvar/4dfgat/primal/__ROMS_APP___salt_4dfgat.nc4
#       simulated variables: [salinity]
#     obs operator:
#       name: VertInterp
#       vertical coordinate: model_level_depth_at_cell_center
#       observation vertical coordinate: depth
#       observation alias file: testinput/obsop_name_map.yaml
#     obs error:
#       covariance model: diagonal
 
    - obs space:
        name: SST
        obsdatain:
          engine:
            type: H5File
            obsfile: __SST_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/4dfgat/primal/__ROMS_APP___sst_4dfgat.nc4
        simulated variables: [seaSurfaceTemperature]
      obs operator:
        name: Identity
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal

    - obs space:
        name: ADT
        obsdatain:
          engine:
            type: H5File
            obsfile: __ADT_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/3dvar/4dfgat/primal/__ROMS_APP___adt_4dfgat.nc4
        simulated variables: [absoluteDynamicTopography]
      obs operator:
        name: ADT
      obs error:
        covariance model: diagonal

variational:
  minimizer:
    algorithm: DRPLanczos                        # Primal Formulation
    online diagnostics:
      max eigenvectors: 5
      eigenvector:
        single_record: true
        data_dir: Data/3dvar/4dfgat/primal
        prefix: __ROMS_APP___roms
        exp: 4dfgat_eigenvecs
        type: krylov
        date: *date
  iterations:                                    # each item defines an outer loop
  - ninner: __NINNER__
    gradient norm reduction: 1.0e-10
    geometry: *geom
    linear model:
      name: Identity                             # Identity TLM/ADM
      increment variables: *roms_analysis
      tstep: *TimeStep
      variable change: Identity
    diagnostics:                                 # Written into output IODA files
      departures: ombg                           # OBS - H(Xb)
    online diagnostics:
      write increment: true
      increment:                                 # DA increment output file
        state component:
          single_record: true
          data_dir: Data/3dvar/4dfgat/primal
          prefix: __ROMS_APP___roms
          exp: 4dfgat
          type: inc
          date: *date

final:                                           # Written into output IODA files
  diagnostics:
    departures: oman                             # saving OBS - H(Xa) in output file

output:                                          # Forecast from Analysis
  file_policy: __OUTPUT_FILE_POLICY__
  frequency: &frequency __OUTPUT_FREQUENCY__
  data_frequency: *frequency
  data_dir: Data/3dvar/4dfgat/primal
  prefix: __ROMS_APP___roms
  exp: 4dfgat
  type: nlm
  date: *date

test:
  reference filename: testref/4dfgat_primal.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/4dfgat_primal.log
  test output filename: testoutput/4dfgat_primal.out
