# ROMS-JEDI 4D-Var Single Observation Test (BUMP-NICAS): __ROMS_APPLICATION__
#
# It uses ROMS 4D state vector and the 4D-Var cost function for
# Strong-constraint 4D-Var, dual (default) or primal formulation.
# It computes the analysis increment for the initial state vector
# (beginning of the DA window).
#

forecast length: &ForecastLength __FORECAST_LENGTH__

model timestep:  &TimeStep __ROMS_TIMESTEP__

initial date: &date __INITIAL_DATE__

roms analysis: &roms_analysis [ssh, uocn, vocn, tocn, socn]
roms state:    &roms_state    [ssh, uocn, vocn, tocn, socn, zocn_r,
                               u2docn, v2docn,
                               DU_avg1, DV_avg1, DU_avg2, DV_avg2,
                               Ktocn, Ksocn, Kvocn]

cost function:
  cost type: 4D-Var
  time window:
    begin: *date
    length: *ForecastLength
  analysis variables: *roms_analysis 

  geometry: &geom
    project_dir: __PROJECT_DIR__
    roms_stdinp: __ROMS_STDINP_MAX__
    fields metadata: Data/fields_metadata.yaml
    ng: 1                                        # ROMS nested grid number

  model:
    name: ROMS
    model variables: *roms_state
    simulation length: *ForecastLength
    tstep: *TimeStep

  background:
    fields_dir: __FIELDS_DIR__
    fields_filename: __ROMS_INI_PRIOR__
    fields_record: __INI_PRIOR_RECORD__
    state variables: *roms_state
    date: *date 

  background error:
    covariance model: SABER
    saber central block:
      saber block name: BUMP_NICAS
      active variables: &rho_vars [ssh, tocn, socn]
      fields metadata:
        ssh:
          vert_coord: vert_coord_2d
      read:
        drivers:
          multivariate strategy: univariate
          read global nicas: true
        model:
          level for 2d variables: last
          do not cross mask boundaries: true
        nicas:
          interpolation in global file: true
        io:
          data directory: Data/bump
          files prefix: __ROMS_APP___bump_cor
        grids:
        - model:
            variables:
            - ssh
        - model:
            variables:
            - tocn
            - socn
    saber outer blocks:
    - saber block name: StdDev
      read:
        model file:
          fields_dir: __FIELDS_DIR__
          fields_filename: __ROMS_PRIOR_STD__
          fields_record: 1
          state variables: *roms_analysis
          date: *date 

  observations:
    obs perturbations: false                     # default
    observers:

    - obs space:
        name: InsituTS
        obsdatain:
          engine:
            type: H5File
            obsfile: __TS_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: Data/4dvar/singleObs/bump/__ROMS_APP___TS_4dvar_single_obs.nc4
        simulated variables: [salinity, waterTemperature]
      obs operator:
        name: VertInterp
        vertical coordinate: model_level_depth_at_cell_center
        observation vertical coordinate: depth
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal

#    - obs space:
#        name: SST
#        obsdatain:
#          engine:
#            type: H5File
#            obsfile: __SST_OBS__
#        obsdataout:
#          engine:
#            type: H5File
#            obsfile: Data/4dvar/singleObs/bump/__ROMS_APP___sst_4dvar_single_obs.nc4
#        simulated variables: [seaSurfaceTemperature]
#      obs operator:
#        name: Identity
#        observation alias file: testinput/obsop_name_map.yaml
#      obs error:
#        covariance model: diagonal

#    - obs space:
#        name: ADT
#        obsdatain:
#          engine:
#            type: H5File
#            obsfile: __ADT_OBS__
#        obsdataout:
#          engine:
#            type: H5File
#            obsfile: Data/4dvar/singleObs/bump/__ROMS_APP___adt_4dvar_single_obs.nc4
#        simulated variables: [absoluteDynamicTopography]
#      obs operator:
#        name: ADT
#      obs error:
#        covariance model: diagonal

variational:
  minimizer:
    algorithm: RPCG                              # Dual   formulation
  iterations:
  - ninner: 1                                    # each item defined an outer loop
    gradient norm reduction: 1E-10
    test: on
    online diagnostics:
      adj obs test: false
      adj tlm test: false
      online adj test: false
      tlm approx test: false
      tlm propag test: false
      tlm taylor test: false
    geometry: *geom
    linear model:
      name: LMROMS
      date: *date
      simulation length: *ForecastLength
      lm variables: *roms_analysis
      tstep: *TimeStep
      trajectory:
        model variables: *roms_state
        tstep: __TRAJECTORY_TIMESTEP__
      variable change: Identity
    diagnostics:                                 # Written into output IODA files
      departures: ombg                           # OBS - H(Xb)
    online diagnostics:
      write increment: true
      increment:                                 # DA increment output file
        state component:
          single_record: true
          data_dir: Data/4dvar/singleObs/bump
          prefix: __ROMS_APP___roms
          exp: 4dvar
          type: inc
          date: *date

final:                                           # Written into output IODA files
  diagnostics:
    departures: oman                             # saving OBS - H(Xa) in output file

output:                                          # Forecast from Analysis
  firt: PT0S
  frequency: &frequency __OUTPUT_FREQUENCY__
  file_policy: __OUTPUT_FILE_POLICY__
  data_frequency: *frequency
  data_dir: Data/4dvar/singleObs/bump
  prefix: __ROMS_APP___roms
  exp: 4dvar
  type: ana
  date: *date

test:
  reference filename: testref/4dvar_bump_single_obs.ref
  float relative tolerance: 1.0
  log output filename: testoutput/4dvar_bump_single_obs.log
  test output filename: testoutput/4dvar_bump_single_obs.out
