# ROMS-JEDI Dirac Test: Delta Function perturbation Impulses
#
# It perturb the requested state field(s) with Dirac impulses at the
# specified (i,j,k) grid cell.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

background:
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record:  __INI_PRIOR_RECORD__
  state variables: &roms_analysis [ssh, uocn, vocn, tocn, socn]
  date: &date __INITIAL_DATE__

background error:
  covariance model: SABER
  saber central block:
    saber block name: BUMP_NICAS
    read:
      drivers:
        multivariate strategy: univariate
        read local nicas: true
#       read global nicas: true
      io:
        data directory: Data/bump
        files prefix: __ROMS_APP___bump_cor
        io tasks: 1
      grids:
      - model:
          variables:
          - ssh
      - model:
          variables:
          - tocn
          - socn

dirac:
  ixdir: [25, 30, 20]                          # X-direction index impulse location
  iydir: [20, 10, 40]                          # Y-direction index impulse location
  izdir: [1,  30, 30]                          # Z-direction index impulse location
  ifdir: ['ssh', 'tocn', 'socn']               # State field to perturb

output dirac:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac
  type: inc
  date: *date

output variance:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac
  type: var
  date: *date                                  # alias to initial date

test:
  reference filename: testref/dirac_cov_nicas.ref
  log output filename: testoutput/dirac_cov_nicas.log
  test output filename: testoutput/dirac_cov_nicas.out

