# ROMS-JEDI Dirac Pseudo-Diffusion Test: Delta Function perturbation Impulses
#
# It perturb the requested state field(s) with Dirac impulses at the
# specified (i,j,k) grid cell using the pseudo-diffusion operator

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

background:
  date: &date __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__

  state variables: &roms_state
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity

background error:
  covariance model: SABER
  adjoint test: true
  saber central block:
    saber block name: diffusion

    active variables: &roms_analysis
    - sea_surface_height_above_geoid
    - eastward_sea_water_velocity              # A-grid
    - northward_sea_water_velocity             # A-grid
    - sea_water_temperature
    - sea_water_salinity

    fields metadata:
      sea_surface_height_above_geoid:
        vert_coord: vert_coord_2d

    read:
      groups:
      - variables:
        - sea_surface_height_above_geoid
        multivariate strategy: univariate
        horizontal:
          filepath: __PATH_SSH_HCOR__

      - variables:
        - eastward_sea_water_velocity
        multivariate strategy: univariate
        horizontal:
          filepath: __PATH_UVEL_HCOR__
        vertical:
          levels: __NLEVELS__
          filepath: __PATH_UVEL_VCOR__

      - variables:
        - northward_sea_water_velocity
        multivariate strategy: univariate
        horizontal:
          filepath: __PATH_VVEL_HCOR__
        vertical:
          levels: __NLEVELS__
          filepath: __PATH_VVEL_VCOR__

      - variables:
        - sea_water_temperature
        multivariate strategy: univariate
        horizontal:
          filepath: __PATH_TEMP_HCOR__
        vertical:
          levels: __NLEVELS__
          filepath: __PATH_TEMP_VCOR__

      - variables:
        - sea_water_salinity
        multivariate strategy: univariate
        horizontal:
          filepath: __PATH_SALT_HCOR__
        vertical:
          levels: __NLEVELS__
          filepath: __PATH_SALT_VCOR__

dirac:
  ifdir:                                       # State field to perturb
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity
  - northward_sea_water_velocity
  - sea_water_temperature
  - sea_water_salinity
  ixdir:                                       # field X-index impulse location
  - 25
  - 15
  - 15
  - 30
  - 20
  iydir:                                       # field Y-index impulse location
  - 20
  - 30
  - 35
  - 10
  - 40
  izdir:                                       # field Z-index impulse location
  - 1
  - 30
  - 30
  - 30
  - 30

output dirac:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac_diffusion
  type: inc
  date: *date

output variance:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac_diffusion
  type: var
  date: *date                                  # alias to initial date

test:
  reference filename: testref/dirac_diffusion.ref
  log output filename: testoutput/dirac_diffusion.log
  test output filename: testoutput/dirac_diffusion.out

