# ROMS-JEDI Dirac Test: Delta Function perturbation Impulses
#
# It perturb the requested state field(s) with Dirac impulses at the
# specified (i,j,k) grid cell.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

background:
  date: &date __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record:  __INI_PRIOR_RECORD__

  state variables: &roms_state
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity

background error:
  covariance model: SABER
  saber central block:
    saber block name: BUMP_NICAS

    active variables: &roms_analysis
    - sea_surface_height_above_geoid
    - eastward_sea_water_velocity              # A-grid
    - northward_sea_water_velocity             # A-grid
    - sea_water_temperature
    - sea_water_salinity

    fields metadata:
      sea_surface_height_above_geoid:
        vert_coord: vert_coord_2d

    read:
      drivers:
        multivariate strategy: univariate
        read global nicas: false
        read local nicas: true
      model:
        level for 2d variables: last
        do not cross mask boundaries: true
      nicas:
        interpolation in global file: false
      io:
        data directory: Data/bump
        files prefix: __ROMS_APP___bump_cor
        io tasks: 1
      grids:
      - model:
          variables:
          - sea_surface_height_above_geoid
      - model:
          variables:
          - eastward_sea_water_velocity
          - northward_sea_water_velocity
          - sea_water_temperature
          - sea_water_salinity

dirac:
  ifdir:                                       # State field to perturb
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity
  - northward_sea_water_velocity
  - sea_water_temperature
  - sea_water_salinity
  ixdir:                                       # field X-index impulse location
  - 25
  - 15
  - 15
  - 30
  - 20
  iydir:                                       # field Y-index impulse location
  - 20
  - 30
  - 35
  - 10
  - 40
  izdir:                                       # field Z-index impulse location
  - 1
  - 30
  - 30
  - 30
  - 30

output dirac:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac
  type: inc
  date: *date

output variance:
  single_record: true
  data_dir: Data/dirac
  prefix: __ROMS_APP___roms
  exp: dirac
  type: var
  date: *date                                  # alias to initial date

test:
  reference filename: testref/dirac_cov_nicas.ref
  log output filename: testoutput/dirac_cov_nicas.log
  test output filename: testoutput/dirac_cov_nicas.out

