# ROMS-JEDI Ensemble Member 001 HofX Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

forecast length: &ForecastLength __FORECAST_LENGTH__

time window:
  begin: __INITIAL_DATE__
  length: *ForecastLength

model:
  name: NLROMS
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

  model variables:
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                                  # A-grid
  - northward_sea_water_velocity                                 # A-grid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity

initial condition:
  date: __INITIAL_DATE__
  fields_dir: Data/ensembles
  fields_filename: __ROMS_APP___roms_ensemble_mem001___INI_DATETIME__.nc
  fields_record: __INI_PRIOR_RECORD__

  state variables:
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                                  # A-grid
  - northward_sea_water_velocity                                 # A-grid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity
  - model_level_depth_at_cell_center

observations:
  observers:

  __OBSERVATION_DATA__
