# ROMS-JEDI Ensemble Perturbation Test: __ROMS_APPLICATION__
#
# It generates Ensemble Perturbations initial conditions and
# run ROMS for the specified time. The ensemble members
# have the suffix pattern %mem% ("_men001", ..., "_memXXX") in
# their output history files.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP_MAX__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

forecast length: &ForecastLength __FORECAST_LENGTH__

members: __MEMBERS__

perturbed variables:
- sea_surface_height_above_geoid
- eastward_sea_water_velocity                  # A-grid
- northward_sea_water_velocity                 # A-grid
- sea_water_temperature
- sea_water_salinity

model:
  name: NLROMS
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

  model variables: &roms_state
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity

initial condition:
  date: &date __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__
  state variables: *roms_state

background error:
  covariance model: SABER
  saber central block:
    saber block name: BUMP_NICAS

    active variables:
    - sea_surface_height_above_geoid
    - eastward_sea_water_velocity              # A-grid
    - northward_sea_water_velocity             # A-grid
    - sea_water_temperature
    - sea_water_salinity

    fields metadata:
      sea_surface_height_above_geoid:
        vert_coord: vert_coord_2d

    read:
      drivers:
        multivariate strategy: univariate
        read global nicas: false
        read local nicas: true
      model:
        level for 2d variables: last
        do not cross mask boundaries: true
      nicas:
        interpolation in global file: false
      io:
        data directory: Data/bump
        files prefix: __ROMS_APP___bump_cor_max
      grids:
      - model:
          variables:
          - sea_surface_height_above_geoid
      - model:
          variables:
          - eastward_sea_water_velocity
          - northward_sea_water_velocity
          - sea_water_temperature
          - sea_water_salinity

  saber outer blocks:
  - saber block name: StdDev
    read:
      model file:
        fields_dir: __FIELDS_DIR__
        fields_filename: __ROMS_PRIOR_STD__
        fields_record: 1
        state variables: *roms_state
        date: *date

# Output filenames are: "__ROMS_APP___roms_ensemble_memXXX_YYYY-MM-DD-hh.mm.ss.nc"

output:
  file_policy: __OUTPUT_FILE_POLICY__
  frequency: &frequency __OUTPUT_FREQUENCY__
  data_frequency: *frequency
  data_dir: Data/ensembles
  prefix: __ROMS_APP___roms
  exp: ensemble
  type: mem
  date: *date
  forecast length: *ForecastLength

test:
  reference filename: testref/ens_perturbation.ref
  float relative tolerance: 1.0e-1
  log output filename: testoutput/ens_perturbation.log
  test output filename: testoutput/ens_perturbation.out
