# ROMS-JEDI Ensemble Mean Variance Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

ensemble:
  members from template:
    template:
      fields_dir: Data/ensembles
      fields_filename: __ROMS_APP___roms_ensemble_mem%mem%___INI_DATETIME__.nc
      fields_record: __INI_PRIOR_RECORD__
      date: &date __INITIAL_DATE__ 
      state variables: &roms_state [ssh, uocn, vocn, tocn, socn]
    pattern: %mem%
    nmembers: __NMEMBERS__
    zero padding: 3

variance output:
  single_record: true
  data_dir: Data/ensembles
  prefix: __ROMS_APP___roms
  exp: ensemble
  type: variance
  date: *date

mean output:
  single_record: true
  data_dir: Data/ensembles
  prefix: __ROMS_APP___roms
  exp: ensemble
  type: mean_variance
  date: *date

test:
  reference filename: testref/ens_mean_variance.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/ens_mean_variance.log
  test output filename: testoutput/ens_mean_variance.out