# ROMS-JEDI Ensemble Member 002 HofX Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

forecast length: &ForecastLength __FORECAST_LENGTH__

time window:
  begin: __INITIAL_DATE__
  length: *ForecastLength

model:
  name: ROMS
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

  model variables:
  - sea_surface_height_above_geoid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity

initial condition:
  date: __INITIAL_DATE__
  fields_dir: Data/ensembles
  fields_filename: __ROMS_APP___roms_ensemble_mem002___INI_DATETIME__.nc
  fields_record: __INI_PRIOR_RECORD__

  state variables:
  - sea_surface_height_above_geoid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity
  - model_level_depth_at_cell_center
  - vertical_diffusion_coefficient_of_temperature_in_sea_water
  - vertical_diffusion_coefficient_of_salinity_in_sea_water
  - vertical_viscosity_coefficient_of_sea_water

observations:
  observers:

  - obs space:
      name: InsituTS
      obsdatain:
        engine:
          type: H5File
          obsfile: __TS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___TS_hofx_mem002.nc4
      simulated variables: [salinity, waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml

  - obs space:
      name: InsituTemperature
      obsdatain:
        engine:
          type: H5File
          obsfile: __TEMPERATURE_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___temp_hofx_mem002.nc4
      simulated variables: [waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml

  - obs space:
      name: InsituSalinity
      obsdatain:
        engine:
          type: H5File
          obsfile: __SALINITY_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___salt_hofx_mem002.nc4
      simulated variables: [salinity]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml

  - obs space:
      name: SST
      obsdatain:
        engine:
          type: H5File
          obsfile: __SST_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___sst_hofx_mem002.nc4
      simulated variables: [seaSurfaceTemperature]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml

  - obs space:
      name: SSS
      obsdatain:
        engine:
          type: H5File
          obsfile: __SSS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___sss_hofx_mem002.nc4
      simulated variables: [seaSurfaceSalinity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml

  - obs space:
      name: ADT
      obsdatain:
        engine:
          type: H5File
          obsfile: __ADT_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/ensembles/__ROMS_APP___adt_hofx_mem002.nc4
      simulated variables: [absoluteDynamicTopography]
    obs operator:
      name: ADT
