# ROMS-JEDI Nonlinear Model Forecast Unit Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP_MAX__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

forecast length: &ForecastLength __FORECAST_LENGTH__

model:
  name: NLROMS
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

  model variables:
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity

initial condition:
  date: &initial_date __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__

  state variables:
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity
  - barotropic_sea_water_x_velocity
  - barotropic_sea_water_y_velocity
  - sea_water_time_average_of_barotropic_x_velocity_flux
  - sea_water_time_average_of_barotropic_y_velocity_flux
  - sea_water_correct_barotropic_x_velocity_flux_for_coupling
  - sea_water_correct_barotropic_y_velocity_flux_for_coupling
  - vertical_viscosity_coefficient_of_sea_water
  - vertical_diffusion_coefficient_of_temperature_in_sea_water
  - vertical_diffusion_coefficient_of_salinity_in_sea_water

output:
  file_policy: __OUTPUT_FILE_POLICY__
  frequency: &frequency __OUTPUT_FREQUENCY__
  data_frequency: *frequency
  data_dir: Data/forecast
  prefix: __ROMS_APP___roms
  exp: nlm
  type: fct
  date: *initial_date
  forecast length: *ForecastLength

test:
  reference filename: testref/forecast_roms.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/forecast_roms.log
  test output filename: testoutput/forecast_roms.out
