# ROMS-JEDI Geometry Iterator Unit Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number
  iterator dimension: 2

inc variables: [ssh, tocn, socn]

increment test:
  date: __INITIAL_DATE__
