# ROMS-JEDI 3D HofX Unit Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

state:
  date: __MIDDLE_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__

  state variables:
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                # A-grid
  - northward_sea_water_velocity               # A-grid
  - sea_water_x_velocity                       # C-grid
  - sea_water_y_velocity                       # C-grid
  - sea_water_temperature
  - sea_water_salinity
  - unvarying_model_level_depth_at_cell_center

time window:
  begin: __INITIAL_DATE__
  length: __FORECAST_LENGTH__

observations:
  observers:

  - obs space:
      name: InsituTS
      obsdatain:
        engine:
          type: H5File
          obsfile: __TS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___TS_hofx.nc4
      simulated variables: [salinity, waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: unvarying_model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: Data/obsop_name_map.yaml

  - obs space:
      name: InsituTemperature
      obsdatain:
        engine:
          type: H5File
          obsfile: __TEMPERATURE_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___temp_hofx.nc4
      simulated variables: [waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: unvarying_model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: Data/obsop_name_map.yaml

  - obs space:
      name: InsituSalinity
      obsdatain:
        engine:
          type: H5File
          obsfile: __SALINITY_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___salt_hofx.nc4
      simulated variables: [salinity]
    obs operator:
      name: VertInterp
      vertical coordinate: unvarying_model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: Data/obsop_name_map.yaml

  - obs space:
      name: SST
      obsdatain:
        engine:
          type: H5File
          obsfile: __SST_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___sst_hofx.nc4
      simulated variables: [seaSurfaceTemperature]
    obs operator:
      name: Identity
      observation alias file: Data/obsop_name_map.yaml

  - obs space:
      name: SSS
      obsdatain:
        engine:
          type: H5File
          obsfile: __SSS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___sss_hofx.nc4
      simulated variables: [seaSurfaceSalinity]
    obs operator:
      name: Identity
      observation alias file: Data/obsop_name_map.yaml

  - obs space:
      name: ADT
      obsdatain:
        engine:
          type: H5File
          obsfile: __ADT_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/hofx/3d/__ROMS_APP___adt_hofx.nc4
      simulated variables: [absoluteDynamicTopography]
    obs operator:
      name: ADT

#  - obs space:
#      name: UVcodar
#      obsdatain:
#        engine:
#          type: H5File
#          obsfile: __UV_CODAR_OBS__
#      obsdataout:
#        engine:
#          type: H5File
#          obsfile: Data/hofx/3d/__ROMS_APP___uv_codar_hofx.nc4
#      simulated variables: [waterSurfaceZonalVelocity,
#                            waterSurfaceMeridionalVelocity]
#    obs operator:
#      name: Identity
#      observation alias file: Data/obsop_name_map.yaml

test:
  reference filename: testref/hofx_3d.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/hofx_3d.log
  test output filename: testoutput/hofx_3d.out

# NOTES:
#
# * Check IODA ObsSpace YAML file for metadata naming conventions:
#
#   JCSDA repository: ioda/share/ioda/yaml/validation/ObsSpace.yaml
#   https://github.com/JCSDA-internal/ioda/blob/develop/share/ioda/yaml/validation/ObsSpace.yaml
#
# * To use altimetry data, we need the fields for the absolute dynamic
#   topography (ADT) operator, ADT = MDT + SLA.  Here, MDT is the
#   Mean Dynamic Topography and SLA is Sea Level Anomaly.
