# ROMS-JEDI Increment Unit Test: __ROMS_APPLICATION__
#
# The increment fields in the Unit Test are initialized with zero or random values.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

inc variables: [ssh, uocn, vocn, tocn, socn]

increment test:
  date: __INITIAL_DATE__
  skip atlas: true
  skip rms by level test: true

test:
  reference filename: testref/increment.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/increment.log
  test output filename: testoutput/increment.out
