# ROMS-JEDI Linear Model GetValues Unit Test: __ROMS_APPLICATION__
#
# (Obsolete, it is done directly in OOPS to facilate efficient interpolations)

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

state variables: &geovals [sea_surface_height_above_geoid,
                           sea_water_zonal_velocity,
                           sea_water_meridional_velocity,
                           sea_water_potential_temperature,
                           sea_water_practical_salinity,
                           sea_floor_depth_below_sea_surface,
                           model_level_depth_at_cell_center]

linear getvalues test:
  tolerance linearity: 1.0e-5
  iterations TL: 10
  first multiplier TL: 1.0
  tolerance TL: 1.0e-5
  tolerance AD: 1.0e-5
  state variables: *geovals

background:
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__
  date: &date __INITIAL_DATE__
  state variables: [ssh, uocn, vocn, tocn, socn, hocn, zocn_r]

geovals:
  state variables: *geovals

locations:
  window begin: __INITIAL_DATE__
  window end: __FINAL_DATE__
  obs space:
    name: Random Locations
    simulated variables: *geovals
    generate:
      random:
        nobs: 10
        lat1: 30.0
        lat2: 48.0
        lon1: -134.0
        lon2: -116.0
        random seed: 452938
      obs errors: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
