# ROMS-JEDI MakeObs Pertutbed Unit Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

forecast length: &ForecastLength __FORECAST_LENGTH__

model:
  name: ROMS
  model variables: [ssh, uocn, vocn, tocn, socn]
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

initial condition:
  date: __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__
  state variables: [ssh, uocn, vocn, tocn, socn, zocn_r]

time window:
  begin: __INITIAL_DATE__
  length: *ForecastLength

observations:
  observers:

  - obs space:
      name: InsituTS
      obsdatain:
        engine:
          type: H5File
          obsfile: __TS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_TS.nc4
      simulated variables: [salinity, waterTemperature]
      observed variables:  [salinity, waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: InsituTemperature
      obsdatain:
        engine:
          type: H5File
          obsfile: __TEMPERATURE_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_temp.nc4
      simulated variables: [waterTemperature]
      observed variables:  [waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: InsituSalinity
      obsdatain:
        engine:
          type: H5File
          obsfile: __SALINITY_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_salt.nc4
      simulated variables: [salinity]
      observed variables:  [salinity]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: SST
      obsdatain:
        engine:
          type: H5File
          obsfile: __SST_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_sst.nc4
      simulated variables: [seaSurfaceTemperature]
      observed variables:  [seaSurfaceTemperature]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: SSS
      obsdatain:
        engine:
          type: H5File
          obsfile: __SSS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_sss.nc4
      simulated variables: [seaSurfaceSalinity]
      observed variables:  [seaSurfaceSalinity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: ADT
      obsdatain:
        engine:
          type: H5File
          obsfile: __ADT_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_adt.nc4
      simulated variables: [absoluteDynamicTopography]
      observed variables:  [absoluteDynamicTopography]
    obs operator:
      name: ADT
    obs error:
      covariance model: diagonal

  - obs space:
      name: SurfaceUV
      obsdatain:
        engine:
          type: H5File
          obsfile: __UV_SUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_uv_sur.nc4
      simulated variables: [waterSurfaceZonalVelocity,
                            waterSurfaceMeridionalVelocity]
      observed variables:  [waterSurfaceZonalVelocity,
                            waterSurfaceMeridionalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: SurfaceU
      obsdatain:
        engine:
          type: H5File
          obsfile: __USUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_usur.nc4
      simulated variables: [waterSurfaceZonalVelocity]
      observed variables:  [waterSurfaceZonalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

  - obs space:
      name: SurfaceV
      obsdatain:
        engine:
          type: H5File
          obsfile: __VSUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___truth_vsur.nc4
      simulated variables: [waterSurfaceMeridionalVelocity]
      observed variables:  [waterSurfaceMeridionalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

#  - obs operator:
#      name: Simulate
#    obs space:
#      generate:
#        obs_density: 100
#        obs_error: 0.4
#        obs_frequency: PT3H
#      obsdataout:
#        engine:
#          type: H5File
#          obsfile: Data/makeobs/__ROMS_APP___simulated.nc4

#  - obs space:
#      name: Simulate
#      generate:
#        random:
#          nobs: 100
#          lat1: 30.0
#          lat2: 48.0
#          lon1: -134.0
#          lon2: -116.0
#          random seed: 452938
#        obs errors: [1.0, 1.0]
#      obsdataout:
#        engine:
#          type: H5File
#          obsfile: Data/makeobs/__ROMS_APP___truth_sur_uv.nc4
#      simulated variables: [waterSurfaceZonalVelocity,
#                            waterSurfaceMeridionalVelocity]
#      observed variables:  [waterSurfaceZonalVelocity,
#                            waterSurfaceMeridionalVelocity]
#    obs operator:
#      name: Identity
#      observation alias file: testinput/obsop_name_map.yaml

#  - obs space:
#      name: Simulate
#      generate:
#        random:
#          nobs: 100
#          lat1: 30.0
#          lat2: 48.0
#          lon1: -134.0
#          lon2: -116.0
#          random seed: 452938
#        obs errors: [1.0, 1.0]
#      obsdataout:
#        engine:
#          type: H5File
#          obsfile: Data/makeobs/__ROMS_APP___truth_uv.nc4
#      simulated variables: [waterZonalVelocity,
#                            waterMeriodionalVelocity]
#      observed variables:  [waterZonalVelocity,
#                            waterMeridionalVelocity]
#    obs operator:
#      name: Identity
#      observation alias file: testinput/obsop_name_map.yaml

make obs: true

test:
  reference filename: testref/makeobs_4d.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/makeobs_4d.log
  test output filename: testoutput/makeobs_4d.out
