# ROMS-JEDI Nonlinear Model Unit Test: __ROMS_APPLICATION__

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                        # ROMS nested grid number

ForecastLength: &ForecastLength __FORECAST_LENGTH__

model test:
  forecast length: *ForecastLength
  final norm: 8609.087389304004319
  tolerance: 1.0e-2
  test reforecast: false

model:
  name: ROMS
  tstep: __ROMS_TIMESTEP__
  simulation length: *ForecastLength

  model variables:
  - sea_surface_height_above_geoid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity

initial condition:
  date: __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__

  state variables:
  - sea_surface_height_above_geoid
  - sea_water_x_velocity                                         # C-grid
  - sea_water_y_velocity                                         # C-grid
  - sea_water_temperature
  - sea_water_salinity

model aux control:
