####InsituTS####
  - obs space:
      name: InsituTS
      obsdatain:
        engine:
          type: H5File
          obsfile: __TS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: __OUT_PATH__/__ROMS_APP___TS___OUTFILE_SUFFIX__.nc4
      simulated variables: [salinity, waterTemperature]
      observed variables:  [salinity, waterTemperature]
    obs operator:
      name: VertInterp
      vertical coordinate: model_level_depth_at_cell_center
      observation vertical coordinate: depth
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal


####InsituTemperature####
    - obs space:
       name: InsituTemperature
        obsdatain:
          engine:
            type: H5File
            obsfile: __TEMPERATURE_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: __OUT_PATH__/__ROMS_APP___temp___OUTFILE_SUFFIX__.nc4
        simulated variables: [waterTemperature]
      obs operator:
        name: VertInterp
        vertical coordinate: model_level_depth_at_cell_center
        observation vertical coordinate: depth
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal


####InsituSalinity####
    - obs space:
        name: InsituSalinity
        obsdatain:
          engine:
            type: H5File
            obsfile: __SALINITY_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: __OUT_PATH___/__ROMS_APP___salt___OUTFILE_SUFFIX__.nc4
        simulated variables: [salinity]
      obs operator:
        name: VertInterp
        vertical coordinate: model_level_depth_at_cell_center
        observation vertical coordinate: depth
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal


####SST####
    - obs space:
        name: SST
        obsdatain:
          engine:
            type: H5File
            obsfile: __SST_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: __OUT_PATH__/__ROMS_APP___sst___OUTFILE_SUFFIX__.nc4
        simulated variables: [seaSurfaceTemperature]
      obs operator:
        name: Identity
        observation alias file: testinput/obsop_name_map.yaml
      obs error:
        covariance model: diagonal


####SSS####
  - obs space:
      name: SSS
      obsdatain:
        engine:
          type: H5File
          obsfile: __SSS_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: __OUT_PATH__/__ROMS_APP___sss___OUTFILE_SUFFIX__.nc4
      simulated variables: [seaSurfaceSalinity]
      observed variables:  [seaSurfaceSalinity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal


####ADT####
    - obs space:
        name: ADT
        obsdatain:
          engine:
            type: H5File
            obsfile: __ADT_OBS__
        obsdataout:
          engine:
            type: H5File
            obsfile: __OUT_PATH__/__ROMS_APP___adt___OUTFILE_SUFFIX__.nc4
        simulated variables: [absoluteDynamicTopography]
      obs operator:
        name: ADT
      obs error:
        covariance model: diagonal


####SurfaceUV####
  - obs space:
      name: SurfaceUV
      obsdatain:
        engine:
          type: H5File
          obsfile: __UV_SUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: __OUT_PATH__/__ROMS_APP___uv_sur___OUTFILE_SUFFIX__.nc4
      simulated variables: [waterSurfaceZonalVelocity,
                            waterSurfaceMeridionalVelocity]
      observed variables:  [waterSurfaceZonalVelocity,
                            waterSurfaceMeridionalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal


####SurfaceU####
  - obs space:
      name: SurfaceU
      obsdatain:
        engine:
          type: H5File
          obsfile: __USUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: __OUT_PATH__/__ROMS_APP___usur___OUTFILE_SUFFIX__.nc4
      simulated variables: [waterSurfaceZonalVelocity]
      observed variables:  [waterSurfaceZonalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal


####SurfaceV####
  - obs space:
      name: SurfaceV
      obsdatain:
        engine:
          type: H5File
          obsfile: __VSUR_OBS__
      obsdataout:
        engine:
          type: H5File
          obsfile: Data/makeobs/__ROMS_APP___vsur___OUTFILE_SUFFIX__.nc4
      simulated variables: [waterSurfaceMeridionalVelocity]
      observed variables:  [waterSurfaceMeridionalVelocity]
    obs operator:
      name: Identity
      observation alias file: testinput/obsop_name_map.yaml
    obs error:
      covariance model: diagonal

