# ROMS-JEDI SABER Pseudo-Diffusion Training Parameters (diffusion) Test: __ROMS_APPLICATION__
#
# It sets correlation parameters to model the background error covariance
# using SABER diffusion operator.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                               # ROMS nested grid number

background:
  date: &date __INITIAL_DATE__
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__
  fields_record: __INI_PRIOR_RECORD__

  state variables: &roms_state
  - sea_surface_height_above_geoid
  - eastward_sea_water_velocity                       # A-grid
  - northward_sea_water_velocity                      # A-grid
  - sea_water_x_velocity                              # C-grid
  - sea_water_y_velocity                              # C-grid
  - sea_water_temperature
  - sea_water_salinity

# In SABER, by default, all the length scales are defined as the half-witdh
# Gaspari-Cohn (1999) support radius, c/2. The relationship with the Daley (1991)
# correlation Gaussian length, L, is:  L = SQRT(0.3) * c/2   and
#                                      c = 2 * L / SQRT(0.3)
# The diffusion operator is defined in terms of L.

background error:
  covariance model: SABER
  saber central block:
    saber block name: diffusion

    active variables: &roms_analysis
    - sea_surface_height_above_geoid
    - eastward_sea_water_velocity                     # A-grid
    - northward_sea_water_velocity                    # A-grid
    - sea_water_x_velocity                            # C-grid
    - sea_water_y_velocity                            # C-grid
    - sea_water_temperature
    - sea_water_salinity

    fields metadata:
      sea_surface_height_above_geoid:
        vert_coord: vert_coord_2d

    calibration:
      normalization:
        iterations: 30000                             # Randomization approach
      groups:
      - horizontal:
          as gaussian: true
          fixed value: __HCOR_50__
          mask: "mask_rho"
        write:
          filepath: __PATH_HCOR_50__
      - horizontal:
          as gaussian: true
          fixed value: __HCOR_70__
          mask: "mask_rho"
        write:
          filepath: __PATH_HCOR_70__
      - horizontal:
          as gaussian: true
          fixed value: __HCOR_80__
          mask: "mask_rho"
        write:
          filepath: __PATH_HCOR_80__
      - horizontal:
          as gaussian: true
          fixed value: __HCOR_100__
          mask: "mask_rho"
        write:
          filepath: __PATH_HCOR_100__
      - horizontal:
          as gaussian: true
          fixed value: __HCOR_120__
          mask: "mask_rho"
        write:
          filepath: __PATH_HCOR_120__
      - vertical:
          as gaussian: true
          fixed value: __VCOR_5L__
          levels: __NLEVELS__
          mask: "mask_rho"
        write:
          filepath: __PATH_VCOR_5L__
      - vertical:
          as gaussian: true
          fixed value: __VCOR_8L__
          levels: __NLEVELS__
          mask: "mask_rho"
        write:
          filepath: __PATH_VCOR_8L__
