# ROMS-JEDI BUMP Covariance Training Parameters (BUMP_NICAS) Test: __ROMS_APPLICATION__
#
# It sets correlation parameters to model the background error covariance
# using BUMP/NICAS.
#
# Notice that BUMP uses ATLAS which only supports the computations at the center
# of grid cell (ROMS's RHO-points). We need to figure out what to do for the
# staggered U- and V-points state variables later.

geometry:
  project_dir: __PROJECT_DIR__
  roms_stdinp: __ROMS_STDINP_MAX__
  fields metadata: Data/fields_metadata.yaml
  ng: 1                                               # ROMS nested grid number
  vertical coordinate: depths                         # ATLAS FunctionSpace default
# vertical coordinate: levels                         # ATLAS FunctionSpace levels

background:
  fields_dir: __FIELDS_DIR__
  fields_filename: __ROMS_INI_PRIOR__   
  fields_record: __INI_PRIOR_RECORD__                 # initial fields
  state variables: [ssh, tocn, socn]
  date: &date __INITIAL_DATE__

# In SABER, by default, all the length scales are defined as the Gaspari-Cohn (1999)
# support radius, c. The relationship with the Daley (1991) correlation Gaussian
# length, L, is:    L = c * SQRT(0.3)   or   c = L / SQRT(0.3)

background error:
  covariance model: SABER
  saber central block:
    saber block name: BUMP_NICAS
    active variables: &rho_vars [ssh, tocn, socn]
    calibration:
      drivers:
        compute nicas: true                           # Run NICAS driver
        multivariate strategy: univariate             # NICAS multivariate strategy
        write local nicas: true
        write diagnostics: true
        write global nicas: true
#       write nicas grids: true
      io:
        data directory: Data/bump                     # BUMP data directory
        files prefix: __ROMS_APP___bump_cor
      model:
        do not cross mask boundaries: true
        level for 2d variables: last
      nicas:
#       resolution: 6.0                               # NICAS subgrid resolution
        resolution: 10.0                              # NICAS subgrid resolution (smoother)
        explicit length-scales: true
        horizontal length-scale:                      # Same as ROMS native DA
        - groups:
          - ssh
          value: __STATIC_B_HCORRELATION_SSH__
        - groups:
          - tocn
          value: __STATIC_B_HCORRELATION_TOCN__
        - groups:
          - socn
          value: __STATIC_B_HCORRELATION_SOCN__
        vertical length-scale:
        - groups:
          - tocn
          value: __STATIC_B_VCORRELATION_TOCN__
        - groups:
          - socn
          value: __STATIC_B_VCORRELATION_SOCN__
      grids:
      - model:
          variables:
          - ssh
      - model:
          variables:
          - tocn
          - socn

      output model files:                             # Write horizontal correlations NetCDF file
      - parameter: cor_rh
        file:
          single_record: true
          data_dir: Data/bump
          prefix: __ROMS_APP__
          exp: bump
          type: cor_rh_global
          date: *date
      - parameter: cor_rv                             # Write vertical correlations NetCDF file
        file:
          single_record: true
          data_dir: Data/bump
          prefix: __ROMS_APP__
          exp: bump
          type: cor_rv_global
          date: *date

test:
  reference filename: testref/parameters_bump_cor_nicas_max.ref
  float relative tolerance: 1.0e-3
  log output filename: testoutput/parameters_bump_cor_nicas_max.log
  test output filename: testoutput/parameters_bump_cor_nicas_max.out
